{{ define "head" }}
{{- partial "blog-rss-link.html" . -}}
{{- template "_internal/schema.html" . -}}
{{- template "_internal/opengraph.html" . -}}
{{- template "_internal/twitter_cards.html" . -}}
{{ end }}
{{ define "main" }}
<div class="ttu lh-copy"><a class="link navy" href="/blog/">Blog posts</a></div>
<main class="main-content">
  <h1>
    {{ .Title }}
    {{- if .Draft }}
    <span class="ttu moon-gray">(Draft)</span>
    {{- end }}
    {{- with .Params.subheading }}
    <br><span class="db f3 mt3">{{ . }}</span>
    {{- end }}
  </h1>
  <div class="the-content measure-wide"{{ with .Params.languageCode }} lang="{{ . }}"{{ end }}>
    <time class="f6 ttu" datetime="{{ .Date.Format "2006-01-02" }}">{{ .Date.Format "January 2, 2006" }}</time>
    {{- with .Content -}}
    <article class="blog nested-links">
      {{ . }}
      <footer>
        <p>
        {{- with ($.GetTerms "categories") }}
        Posted
        {{- with $.GetTerms "authors" }}
        by
        {{- range $i, $e := . }}
        {{- if $i }},{{ end }}
        <a href="{{ $e.RelPermalink }}">{{ $e.LinkTitle }}</a>
        {{- end }}
        {{- end }}
        in
        {{- range $i, $e := . }}
        {{- if $i }},{{ end }}
        <a href="{{ $e.RelPermalink }}">{{ $e.LinkTitle }}</a>
        {{- end }}
        {{- end }}
        {{- if and ($.GetTerms "tags") ($.GetTerms "categories") }} |{{ end }}
        {{- with ($.GetTerms "tags") }}
        Tagged
        {{- range $i, $e := . }}
        {{- if $i }},{{ end }}
        <a href="{{ $e.RelPermalink }}">{{ $e.LinkTitle }}</a>
        {{- end }}
        {{- end }}
        </p>
      </footer>
    </article>
    {{- end }}
  </div>
</main>
<div class="mt4">
  <a href="/blog/">&lt;&lt; Back to blog</a>
</div>
{{ end }}
