#storybook_frame_container {
    text-align: center;
}
.ductus_storybook {
    margin: auto;
    text-align: center;
}
.ductus_storybook .picture {
    display: block;
    height: 250px;
    margin: 1px auto;
    text-align: center;
    vertical-align: middle;
    width: 250px;
}
#storybook_pager {
    margin-top: 1em;
    text-align: center;
}
.storybook_frame_count {
    margin: .5em auto;
    text-align: center;
}
.ductus_storybook_epilogue {
        margin-top: 3em;
}
.ductus_storybook_epilogue a {
        margin: 3em;
}

