{{ define "head" }}
{{- /* https://developers.google.com/speed/docs/best-practices/rtt#PutStylesBeforeScripts */ -}}
{{- $css := slice (resources.Get "ductus/common/css/base.css") (resources.Get "ductus/flashcards/css/choice.css") (resources.Get "ductus/flashcards/css/storybook.css") (resources.Get "ductus/flashcards/css/static_view.css") | resources.Concat "css/lesson_bundle.css" | minify -}}
<link rel="stylesheet" href="{{ $css.RelPermalink }}">
{{- /* We include the following one separately so that relative paths to the UI images resolve. */ -}}
<link rel="stylesheet" href="{{ (resources.Get "ductus/common/css/smoothness/jquery-ui-1.8.22.custom.css").RelPermalink }}">
{{- $js := slice (resources.Get "ductus/common/js/jquery-1.8.2.js") (resources.Get "ductus/common/js/jquery-ui-1.8.22.custom.js") (resources.Get "ductus/common/js/base.js") (resources.Get "ductus/flashcards/js/choice.js") (resources.Get "ductus/flashcards/js/storybook.js") (resources.Get "ductus/flashcards/js/audio_lesson.js") (resources.Get "ductus/common/js/jQuery.jPlayer.2.1.0/jquery.jplayer.js") (resources.Get "ductus/common/js/audio_player.js") (resources.Get "ductus/common/js/sha1.js") (resources.Get "ductus/common/js/main.js") | resources.Concat "js/lesson_bundle.js" -}}
<script>
  var data = {{ .Params | jsonify | safeJS }};
</script>
<script type="text/javascript" src="{{ $js.RelPermalink }}"></script>
{{ end }}
{{ define "main" }}
<div class="main-content">
  <div class="the-content"{{ with .Params.languageCode }} lang="{{ . }}"{{ end }}>
  </div>
</div>
{{ end }}
