{{ define "main" }}
<div class="cf">
  <div class="fl w-100 w-two-thirds-l pr3-l">
    <div class="main-content">
      <h1>{{ .Title }}</h1>
      <div class="nested-links">
        {{- .Content -}}
        <p>Perhaps the best way to navigate the content is by the language taught by each lesson:</p>
        <ul>
          {{ range $key, $taxonomy := index .Site.Taxonomies "target-languages" }}
          <li><a href="/target-languages/{{ $key | urlize }}/">{{ ($.Site.GetPage (printf "/target-languages/%s/" $key)).Title }}</a>{{ with (len $taxonomy) }} ({{ . }} {{ if eq . 1 }}page{{ else }}pages{{ end }}){{ end }}</li>
          {{- end }}
        </ul>
        <p>There are a few other sections on the site as well:</p>
        <ul>
          {{ range .Pages }}
          {{- if not (eq .Params.type "wiki") }}
          <li><a href="{{ .Permalink }}">{{ .LinkTitle }}</a>{{ if .IsNode }} ({{ len .Pages }} {{ if eq (len .Pages) 1 }}page{{ else }}pages{{ end }}){{ end }}</li>
          {{- end }}
          {{- end }}
        </ul>
        <p>Finally, there is a wiki for each language:</p>
        <ul>
          {{ range .Pages }}
          {{- if eq .Params.type "wiki" }}
          <li><a href="{{ .Permalink }}">{{ .LinkTitle }}</a>{{ if .IsNode }} ({{ len .Pages }} {{ if eq (len .Pages) 1 }}page{{ else }}pages{{ end }}){{ end }}</li>
          {{- end }}
          {{- end }}
        </ul>
      </div>
    </div>
  </div>
  <div class="fl w-100 w-third-l pl3-l bl-l b--lightest-blue">
    <h2>Recent blog posts</h2>
    {{ range (first 3 (.Site.GetPage "section" "blog").Pages) }}
    <div>
      <h3>
        <a class="link black underline-hover" href="{{ .Permalink }}">
          {{- .Title -}}
        </a>
      </h3>
      <div>{{ .Summary }}</div>
    </div>
    {{ end }}
  </div>
</div>
{{ end }}
