{{ define "main" }}
<div class="main-content">
  <h1>{{ .Title }}</h1>
  {{- .Content -}}
  <div class="nested-links">
    <p>Perhaps the best way to navigate the content is by the language taught by each lesson:</p>
    <ul>
      {{ range $key, $taxonomy := index .Site.Taxonomies "target-languages" }}
      <li><a href="/target-languages/{{ $key | urlize }}/">{{ ($.Site.GetPage (printf "/target-languages/%s/" $key)).Title }}</a>{{ with (len $taxonomy) }} ({{ . }} {{ if eq . 1 }}page{{ else }}pages{{ end }}){{ end }}</li>
      {{- end }}
    </ul>
    <p>There are a few other sections on the site as well:</p>
    <ul>
      {{ range .Pages }}
      {{- if not (eq .Params.type "wiki") }}
      <li><a href="{{ .Permalink }}">{{ .LinkTitle }}</a>{{ if .IsNode }} ({{ len .Pages }} {{ if eq (len .Pages) 1 }}page{{ else }}pages{{ end }}){{ end }}</li>
      {{- end }}
      {{- end }}
    </ul>
    <p>Finally, there is a wiki for each language:</p>
    <ul>
      {{ range .Pages }}
      {{- if eq .Params.type "wiki" }}
      <li><a href="{{ .Permalink }}">{{ .LinkTitle }}</a>{{ if .IsNode }} ({{ len .Pages }} {{ if eq (len .Pages) 1 }}page{{ else }}pages{{ end }}){{ end }}</li>
      {{- end }}
      {{- end }}
    </ul>
  </div>
</div>
{{ end }}
