{{ define "main" }}
<div class="main-content">
  <h1>{{ .Title }}</h1>
  {{ with .Content }}
  <div class="the-content">{{ . }}</div>
  <hr>
  {{ end }}
  <div class="nested-links">
    <ul>
      {{ range .Pages }}
      <li><a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a>
        {{- if .IsNode }} ({{ len .Pages }} {{ if eq (len .Pages) 1 }}page{{ else }}pages{{ end }}){{ end -}}
        {{- if .Params.tags }} &nbsp;&ndash;&nbsp; {{ end -}}
        {{- range .Params.tags }} <a class="f6 no-underline" href="/tags/{{ . | urlize }}/">{{ . }}</a>{{ end }}
      </li>
      {{- end }}
    </ul>
  </div>
</div>
{{ end }}
