{{ define "head" }}
{{- /* https://developers.google.com/speed/docs/best-practices/rtt#PutStylesBeforeScripts */ -}}
{{- $css := slice (resources.Get "ductus/common/css/base.css") (resources.Get "ductus/textwiki/css/textwiki.css") | resources.Concat "css/textwiki_bundle.css" | minify -}}
<link rel="stylesheet" href="{{ $css.RelPermalink }}">
{{ end }}
{{ define "main" }}
<div class="main-content">
  <h1>{{ .Title }}</h1>
  <div class="the-content"{{ with .Params.languageCode }} lang="{{ . }}"{{ end }}>
    {{ with .Content -}}
    <article class="ductus_textwiki_content nested-links">
      {{ . }}
    </article>
    {{- end }}
  </div>
</div>
{{ end }}
