html {
    /* normalize.css sets this to "scroll" for some reason, but I hate
     * seeing the scrollbar when it is unnecessary
     */
    overflow-y: auto;
}

#ductus_ajax_status {
    position: fixed;
    top: 0;
    left: 50%;
    background: #ee9;
    padding: .2em;
    border-left: 1px solid #999;
    border-right: 1px solid #999;
    border-bottom: 1px solid #999;
}
hr {
    border: 0;
    height: 1px;
    color: #aaa;
    background-color: #aaa;
}

a {
    color: #002bb8;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
a:visited {
    color: #5a36af;
}
a.broken {
    color: #c20;
}

.license_info {
    border-bottom: 1px solid #ddd;
    margin: 1.5em 0;
}

.ductus_tags_display {
    margin-top: 1em;
}
.ductus_tags_display ul {
    display: inline;
}
.ductus_tags_display li {
    display: inline;
    margin-right: 1em;
}

/* for jquery */
.ui-effects-transfer {
    border: 2px solid black;
}
